.header {
    background-color: rgba(165, 42, 42, 0.993);
    width: 100%;
}

.header__pesquisa {
    margin: 0rem 2rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pesquisar{
    padding: 0.6rem;
    font-size: 1rem;
    background-color: rgba(153, 153, 153, 0.849);
    border-radius: 20px;
    
} 

::-webkit-input-placeholder {
    color: white;
    font-weight: bolder;
 }

.header__logo img {
    width: 18rem;
    margin-left: 9rem;
}

.header__menu__hamburuger img {
    width: 3rem;
}
