.film {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 1rem auto;
    width: 90%;
    max-width: 1000px;
    padding: 2rem;
    
    background-color: #ffffff9d;

    animation: AnimationLeftToRight 1s 1s 1;
}

.film__image {
    width: 250px;
    height: 390px;
    margin-right: 10px;
    margin-bottom: 1.3rem;
}

.film__image img {
    width: 250px;
}

.film__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    padding: 1rem;
    width: 70%;
    color: #BFBFBF;
    background-color:#db5645fb;
    box-shadow: 3px 3px 10px black;    
}

.film__title {
    font-size: 2.4em;
    color: white;
}

.film__sinopse {
    margin: 1em 0;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
}

.film__creator {
    color: white;
    margin-top: 1rem;
    font-weight: bold;
}

.film__classificacao {
    margin: 1rem auto;
    padding: 0.8rem 0.4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
    
    box-shadow: 2px 2px 10px white;
}

.film__classificacao__text {
    text-align: center;
}

.film__content__classificao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #40121A;
    box-shadow: 2px 2px 8px black;
    width: 130px;
    min-width: 180px;
    
}

.film__trailer {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    display: flex;
   
    background-color: #F02C0E;
    color: white;
    font-size: 1.5em;
    margin-bottom: 2rem;
}

.film__trailer:hover {
    background-color: white;
    color: red;
}



.actors {
    animation: AnimationRightToLeft 1s 1s 1;

    margin: 1rem auto;
    width: 90%;
    max-width: 1000px;
    padding: 2rem;
    background-color: #ffffff9d;
}

.actors__title {
    margin-bottom: 1rem;
}

.actors__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.actors__description {
    background-color: #ffffffbb;
    width: 155px;
    height: 270px;
    padding: 0.5rem;
    margin: 10px;
    border-radius: 10px;
    
    box-shadow: 2px 2px 10px;
}



.actors__name {
    text-align: center;
    font-size: 1.1em;
}

.actors__paper {
    text-align: center;
    font-size: 0.9em;
    color: rgb(97, 97, 97);
}



.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    width: 90%;
    max-width: 1000px;
    padding: 2rem;
    background-color: #ffffff9d;
}

.details__info {
    display: flex;
}

.details__info div {
    
    margin: 0 10px;
}

.details__social {
    text-align: center;
}


.details__film {
    background-color: lavenderblush;
    box-shadow: 2px 2px 10px;
    padding: 1rem 4rem;
    height: 200px;
}
.details__title {
    font-size: 1.2em;
}

.details__description {
    font-size: 0.9em;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.details__icons img {   
    width: 30px;
    margin-right: 10px;
}

.trailer__title {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.7em;
}


.recommendation {  
    margin: 1rem auto;
    width: 90%;
    max-width: 1000px;
    background-color: #ffffff9d;
}

.recommendation__title {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5em;
}

.recommendation__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recommendation__card__content:hover {
    background-color: rgb(223, 223, 223);
    transition: 0.7s;
} 


.recommendation__card__content {
    padding: 20px;
    margin: 1rem;
}

.card__title {
    text-align: center;
    font-size: 1.3em;
    color: black;
}

