/*================= Container film description =================*/
.film {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 1rem auto;
    padding: 2rem;
    max-width: 1000px;
    border-radius: 10px;

    background-color: #ffffff9d;

    animation: AnimationLeftToRight 1s 1s 1;
}

.film__image {
    width: 250px;
    height: 390px;
    margin-right: 10px;
    margin-bottom: 1.3rem;
}

    .film__image img {
        width: 250px;
        border-radius: 10px;
    }

.film__trailer {
    display: flex;
    justify-content: center;

    margin-bottom: 2rem;
    border-radius: 10px;
   
    background-color: #F02C0E;
    color: white;

    font-size: 1.5em;
}

    .film__trailer:hover {
        background-color: white;
        color: red;
    }

.film__description {
    margin-top: 1rem;
    padding: 1rem;
    width: 70%;
    border-radius: 10px;

    background-color:#db5645fb;
    color: #BFBFBF;

    box-shadow: 3px 3px 10px black;    
}

.film__title {
    font-size: 2.4em;
    color: white;
    text-align: center;
}

.film__sinopse {
    margin: 1em 0;

    color: white;

    font-weight: bold;
    font-size: 1.3em;
}

.film__creator {
    margin: 1rem 0;

    color: white;

    font-weight: bold;
}

.film__content__classificao {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    padding: 0 10px;
    width: 130px;
    min-width: 180px;
    border-radius: 10px;

    background-color: #40121A;

    box-shadow: 2px 2px 8px black;
}

.film__classificacao {
    margin: 1rem auto;
    padding: 0.8rem 0.4rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red;
    
    box-shadow: 2px 2px 10px white;
}

.film__classificacao__text {
    text-align: center;
}

/*================= Container actors info. =================*/
.actors {
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1000px;
    border-radius: 10px;
    
    background-color: #ffffff9d;
    
    animation: AnimationRightToLeft 1s 1s 1;
}

.actors__title {
    margin-bottom: 1.4rem;

    text-align: center;
    font-size: 2.5em;
}

.actors__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.actors__description {
    margin: 10px;
    padding: 0.5rem;
    border-radius: 10px;
    width: 155px;
    height: 270px;
    box-shadow: 2px 2px 10px;

    background-color: #ffffffbb;
}

    .actors__description img {
        border-radius: 10px;
    }

.actors__name {
    text-align: center;
    font-size: 1.1em;
}

.actors__paper {
    text-align: center;
    font-size: 0.9em;

    color: rgb(97, 97, 97);
}

/*================= Container Movie details =================*/
.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin: 1rem auto;
    padding: 2.1rem;
    max-width: 1000px;
    border-radius: 10px;

    background-color: #ffffff9d;
}

.details__info {
    display: flex;
}

    .details__info div {
        margin: 0 10px;
    }

.details__social {
    text-align: center;
}

.details__film {
    padding:3rem 4rem;
    height: 280px;
    box-shadow: 2px 2px 10px;

    background-color: lavenderblush;
}

.details__title {
    font-size: 1.2em;
}

.details__description {
    font-size: 0.9em;
    opacity: 0.9;
    margin-bottom: 1rem;
}

    .details__icons img {   
        width: 30px;
        margin-right: 10px;
    }

/*================= TRAILER Movie details =================*/
.trailer__title {
    margin-top: 1rem;

    text-align: center;
    font-size: 1.7em;
}

/*================= Movies recommendation =================*/
.recommendation {  
    margin: 1rem auto;
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;

    background-color: #ffffff9d;
}

.recommendation__title {
    margin-top: 2rem;
    padding: 2rem;

    text-align: center;
    font-size: 2.5em;
}

.recommendation__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .recommendation__card__content:hover {
        background-color: rgb(223, 223, 223);
        border-radius: 10px;
        transition: 0.5s;
    } 


.recommendation__card__content {
    padding: 20px;
    margin: 1rem;
}

.card__title {
    text-align: center;
    font-size: 1.3em;

    color: black;
}

