@media only screen and (max-width: 768px) {
    /*================= HEADER =================*/
    .nav__menu:hover {
        
    }

    .nav {
        display: flex;
        justify-content: space-between;
    }

    .header__logo img {
        display: none;
    }
    .nav__menu {
        width: 40px;
        height: 40px;
        top: -2rem;
    }

    .nav__menu__hamburguer {
        top: 20px;
        left: 8px;
    }

    .nav__menu__hamburguer {
        height: 2px;
        width: 25px;
    }

    .header__logo img {
        width: 80px;
    }

    #pesquisar{
        padding: 0.6rem;
        width: 130px;
        font-size: 0.8rem;
    } 

    /*================= CARDS =================*/
    .card__title {
        font-size: 0.9em;
    }
    
    /*================= ACTORS =================*/
    
    .actors__description {
        width: 130px;
    }

    .actors__description img {
        width: 115px;
    }

    /*================= DESCRIPTION MOVIE =================*/
    .film__title {
        font-size: 1.5em;
    }

    .film__description {
        width: 100%;
    }

    .actors, .film {
        padding: 0.5rem;
    }

    /*================= DETAIL =================*/
    .details__film {
        width: 95%;
        max-width: 300px;
        padding: 2rem 2rem;
        margin: 1rem;
    }

    .trailer iframe {
        width: 100%;
    }

    /*================= RECOMMENDATION=================*/
    .recommendation {
        width: 100%;
    }
    
    .recommendation__card__content {
        margin: 0rem;
    }
    /*================= FOOTER =================*/
    .footer {
        font-size: 1em;
    }
}

