/*================= Import Fonts (Goolefonts)=================*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,700&family=Montserrat:wght@600&display=swap');

/*================= Import CSS files Responsiveness =================*/
@import url('header.css');
@import url('footer.css');

/*================= Variables Collors =================*/
:root {
    --cards__background: #9c9c9c;
}

/* 
    Order of attributes

    .selector {
        Positioning (Position)

        Display & Box Model (Display)

        Color (Color/Background)

        Text (Font-size)

        Orthers (Transition)
*/

html {
    font-family: 'Exo', sans-serif;
}


/*================= Top 3 films Emphasis =================*/
.section__title {
    margin: 1rem;

    font: normal bold 2.4em 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

.section__container__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}


.section__card {
    width: 23%;
    min-width: 200px;
    margin: 1rem 1rem;
    box-shadow: 5px 5px 20px black;

    background-color: rgba(0, 0, 0, 0.589);
    color: white;
}

/*================= Content inside the card =================*/
.card__content {
    width: 100%;
    padding: 1rem;

    overflow: hidden;
   
}

.card__content a {
    color: black;
}

.card__content a:hover {
    color: rgb(214, 214, 214);
}

.card__image img {
    width: 100%;
}

.card__image {
    text-align: center;
}

.card__title {
    margin:1rem 0 ;

    font-size: 1.3em;
    font-weight: 700;

    color: white;
}

.card__description {
    max-height: 2ch;
    margin: 2rem 0;

    font-size: 1em;
}

.card__link {
    margin:1rem 1rem;

    font-weight: bold;
    
    color:rgb(33, 24, 168);
}

/*================= Action category =================*/
.films__action {
    min-width: 730px;

    padding: 5px;
    margin-bottom: 10px;

    background-color: var(--cards__background);
}

.films__animation {
    min-width: 730px;

    padding: 5px;
    margin-bottom: 10px;

    background-color:  var(--cards__background);
}

.films__comedy {
    min-width: 730px;

    padding: 5px;
    margin-bottom: 10px;

    background-color:  var(--cards__background);
}

/*================= Container genre =================*/
.card__category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*================= Films =================*/
.card__film {
    margin: 5px ;
    padding: 10px;

    color: white;
    background: black;

    font-size: 1em;
    text-align: center;
}

.card__film img {
    width: 13vw;
    min-width: 110px;
    max-width: 200px;
}

