/*================= Import Fonts (Goolefonts)=================*/
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,700&family=Montserrat:wght@600&display=swap');

/*================= Import CSS files Responsiveness =================*/
@import url('header.css');
@import url('footer.css');

/*================= Variables Collors =================*/
:root {
    --cards__background: #ffffff9d;
}

/* 
    Order of attributes

    .selector {
        Positioning (Position)

        Display & Box Model (Display)

        Color (Color/Background)

        Text (Font-size)

        Orthers (Transition)
*/

html {
    font-family: 'Exo', sans-serif;
    background: url(../img/global/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}




/*================= Top 3 films Emphasis =================*/
.section__title {
    margin: 1rem;

    font: normal bold 2.4em 'Montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
}

.section__container__card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}


.section__card {
    width: 23%;
    min-width: 200px;
    margin: 1rem 1rem;
    box-shadow: 5px 5px 20px black;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
}


.section__card:nth-child(1) {
    animation: AnimationLeftToRight 1s 1s 1;
}
.section__card:nth-child(2) {
    animation: AnimationDownToUp 1s 1s 1;
}
.section__card:nth-child(3) {
    animation: AnimationRightToLeft 1s 1s 1;
}

/*================= Content inside the card =================*/
.card__content {
    width: 100%;
    padding: 1rem;

    overflow: hidden;
   
}

.card__content a {
    color: white;
    opacity: 0.8;
}

.card__content a:hover {
    opacity: 1;
}

.card__image img {
    width: 100%;
}

.card__image {
    text-align: center;
}

.card__title {
    margin:1rem 0 ;

    font-size: 1.3em;
    font-weight: 700;

    color: white;
}

.card__description {
    max-height: 2ch;
    margin: 2rem 0;

    font-size: 1em;
}

.card__link {
    margin:1rem 1rem;

    font-weight: bold;
    
    color:rgb(218, 1, 1);
}

/*================= Action category =================*/
.films__action {
    min-width: 730px;

    padding: 5px;
    margin-bottom: 10px;

    background-color: var(--cards__background);
}

.films__animation {
    min-width: 730px;

    padding: 5px;
    margin-bottom: 10px;

    background-color:  var(--cards__background);
}

.films__comedy {
    min-width: 730px;

    padding: 5px;
    margin-bottom: 10px;

    background-color:  var(--cards__background);
}

/*================= Container genre =================*/
.card__category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*================= Films =================*/
.card__film {
    margin: 5px ;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
    color: white;
    background: rgba(0, 0, 0, 0.671);

    font-size: 1em;
    text-align: center;
}

.card__film img {
    width: 13vw;
    min-width: 110px;
    max-width: 200px;
}



@keyframes AnimationLeftToRight{
    0%{
        transform: translate(-100vw)
    }
        
    100%{
        transform: translate(0)
    }
}

/* Description (Lorem) */
@keyframes AnimationRightToLeft{
    0%{
        transform: translate(100vw)
    }
        
    100%{
        transform: translate(0)
    }
}

/* Button (ENTRE EM CONTATO AGORA) */
@keyframes AnimationDownToUp{
    0%{
        transform: translateY(100vh)
    }
        
    100%{
        transform: translate(0)
    }
}